
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
      }

body {
   font-size: 16px; 
   background-color: #f7eeed; 
}

footer, h2, h3, p {
    font-family: 'Open Sans Condensed', sans-serif;
   
}

h1 {
    font-family: 'Francois One', sans-serif, cursive;
    color: #f7eeed;
}
 h2{
    font-weight: bolder;
    font-size: 20px;
    color: #9d8189;
 }

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    
}

.lesson2-brand1, .lesson2-brand2, .lesson2-brand3 {
    font-family: 'Francois One', sans-serif, cursive;
    font-size: 35px;
    color: #6d6875;
}

header, footer {
    border: 1px solid #9d8189;
    padding: 1rem;
    background-color: #9d8189;
    text-align: center;
    
    
}
main{
    background-color: #f7eeed; 
    padding: 1rem;
    border-radius: 10px;
}

header img{
    
    width: auto;
    height: 120px;    
   
}

.lesson2-headline-1, .lesson2-headline-2, .lesson2-headline-3 {
        
    background-color: #9d8189;
    color: #f7eeed;
    text-align: left;
    margin-top: 0em;
    padding: 1em;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
  }
  #box-1, #box-2, #box-3 {
    padding: 1.2rem;
    font-size: 1rem;
    border: 1.7px solid #9d8189;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    

}
.lesson2-grid {
    max-width: 767px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0em;
    text-align: center;
    padding: 0.75rem;
    grid-gap: 10px 10px;

}

.lesson2-img1, .lesson2-img2, .lesson2-img3 {
       
        box-shadow: 10px 10px 10px black;
       
}

.lesson2-brand1, .lesson2-brand2, .lesson2-brand3{
    text-align: left;
    margin-top: 35px;
    margin-bottom: 10px;
}


.lesson2-paragraph-1, .lesson2-paragraph-2, .lesson2-paragraph-3 {
    text-align: left;
    margin-top: 0em;  
}






