/* Tablet Views ******************************/
@media only screen and (min-width: 41.125em) {

    
header {
    padding: 1.25em .75em;
    justify-content: left;
}
    
header img {
    width: 250px;
    padding: 1em;
}
      
header button {
    display: none;
}

.covid {
    padding-left: 100px;
}
    
.navigation li:first-child {
    display: none;
}
      
.navigation {
    display: flex;
}
      
.navigation li {
    display: block;
    flex: 1 1 auto;
}

h1{
   font-size: 30px;
}
      
.navigation li a {
    text-align: center;
    border: none;
    font-size: 1.5em;
    padding: 1.2em 0;
}

.navigation li .activenow {
    font-weight: bold;
    color:white; 
    border-right: 5px solid #ae9253;
    border-left: 5px solid #ae9253;
}

.hero-image {
    position: relative;
}
.purpose {
    position: absolute;
    top: 5em;
    left: 15em;
    width: 250px;
    padding: 1.5rem;
    box-shadow: 0 0 30px #676767; 
    margin: 1em 5em;
    padding: 1em;
    text-align: center;
    border-radius: 25px;
  }

  /* Footer */

.fooInf {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5em;
    margin-left: 1em;
    text-align: left;
}
 
.Map {
    display: block;
    grid-column: 2 / 2;
}
 
.Map img {
    display: block;
    margin: 1em auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #676767;  
}
 
.Social-Nav {
    text-align: center;
    grid-column: 3;
    grid-row: 1;
   
    
}
 
.Social-Nav img {
     width: 45px;
}
 
.Contact-Information h4{
     font-weight: bold;
     font-size: 20px;
   
}

/* Companies Advertisement*/

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 0;
}
  
  
.companies section {
    display: block;
    padding: .25em 1em;
    border: 0.1px solid #353746;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #353746;
    
}
  
  .cont p {
    line-height: 1px;
    }



/* Upcoming Events*/

.newevents div {
    
    margin: 3rem;
    padding: 0.1rem;
    border-bottom: none;
}

.newevents img {
    float: right;
    box-shadow: 10px 20px 25px 10px #353746;
    border-radius:  8px;
}

.upcoming {
  
    border-left: solid 5px #ddbb4d;
    
}

/* Wheater Summary */

.summary-box {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border-bottom: none;
}

picture img {
    max-width: 100%;
}

.overlay {
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    background: rgb(255, 255, 255, 0.86);
    left: 0.5%;
    top: 3%;
    padding: 0.8em 1em;
}



.summary {
    margin: 0;
}

.condition {
    padding: 0;
}
        
.temprature {
    font-size: 2em;
}
    
.content {
    margin: 1em;
    padding-left: 1em;
    border-left: solid 4px #353746;
}

.condition li p{
    
    padding: 2% 1.25em;
    font-size: 1em;
}

.weather img{
    max-width: 100%;
}

.highest {
    font-size: 1em;
    text-align: center;
    color:#3e3e3e;
}

/* 3 Days Forecast */
.dailyweather { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forecast {
    display: block;
}


}