@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Francois+One&family=Open+Sans+Condensed:wght@300&display=swap');
body {
   font-size: 16px; 
   background-color: #f7eeed; 
}

ul, footer, h2 {
    font-family: "Open Sans Condensed","Brush Script MT", cursive;
   
}

h1 {
    font-family: "Francois One","Brush Script MT", cursive;
    color: #f7eeed;
}
 h2{
    font-weight: bolder;
    border-bottom: solid 0.8px  #9d8189;
    color: #9d8189;
 }

header, main, footer {
    max-width: 760px;
    margin: 0 auto;
    
}

header, footer {
    border: 1px solid #9d8189;
    padding: 1rem;
    background-color: #9d8189;
    border-radius: 10px;
    text-align: center;
    
    
}
main{
    background-color: #f7eeed; 
    padding: 1rem;
    border-radius: 10px;
}

header img{
    float: right;
    width: 200px;
    height: auto;
    background-color: white;
    border: 5px solid #f7eeed;
    box-shadow: 10px 10px 10px black;
}
nav ul {
    list-style: none; 
    display: grid; 
    margin: 0;  
}
nav a {
  padding: 0.5em 0.5em;
  color: black;
  line-height: 2.5em;
  text-decoration: none;
}
nav a:hover{ 
    background-color:#9d8189;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
     }

