
.Hero-Image img {
    width: 100%;
    height: 600px;
  
}  


body {
    font-size: 16px; 
    background-color: #bfc0c0; 
}
 
ul, footer, h2, p, li, figcaption {
    font-family: 'Barlow Condensed', sans-serif;
    
}
 
h1 {
    font-family: 'Oswald', sans-serif, cursive;
    color: #393939;
}



h3 {
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
}

h2{
    font-family: 'Oswald', sans-serif, cursive;
    font-weight: bolder;
    color: #474747;
}

header {
    background-color:#676767;
   
}
 
 header, main, footer, nav {
    max-width: 760px;
    margin: 0 auto;
    font-family: 'Barlow Condensed', sans-serif;
     
}

 
 main{
    background-color: #e5e6e4; 
    padding: 1rem;

}
 
 header img{   
    width: 150px;
    height: auto;   
}



 nav {     
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #80ab82;
    margin: 0em auto;
    color: white;
    /*justify-content: space-between; */
    font-size: 14px;
}

nav ul {        
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow: hidden;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    padding: .75em;
    text-decoration: none;
    text-align: center;
    
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
}

.navigation a{
    display: block;
}


  
nav a:hover{ 
    background-color: #474747;
    color: black;
    box-shadow: 10px 10px 10px;
}


.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.responsive li {
    display: block;
}


   

section {
    margin: 1rem;
    border: 2px solid #595959;
    padding: 1rem;
    
}


     /*FOOTER*/

footer {
    padding: 1em;
    background-color: #676767;
    color:#80ab82;
    font-size: .9em;
}
    
footer p {
     margin: 0.25em 1em;
}
    
footer a {
    color: #bac7be;
}
    
.My-Footer {
    color:#80ab82;
    text-align: center;
}
    
.Contact-Information p {
    color: white;
    text-align: center;
}

.Contact-Information h4{
    color:#80ab82;
    text-align: center;
    
}
    
    
.Social-Nav {
    margin: 1.5em;
    text-align: center;
}
    
.Social-Nav a {
    margin: 0 .5em;
}
    
.Social-Nav img {
    width: 44px;
}
    
.Map img {
    display: block;
    margin: 1em auto;
    width: 300px;
}

.pancake {
    background-color: white;
    padding: .75em 0;
    display: none;
}

.pancake h2 {
    margin: 0;
    color: #676767;
    text-align: center;
    font-size: .9em;
    font-family: 'Roboto', sans-serif;
}

.pancake {
    margin: 0;
    color: #676767;
    padding: .3em;
    text-align: center;
    font-size: .9em;
}
.summary span {
    font-weight: bold;
    color: var(--darkblue);
   
}

.summary{
opacity: .5;
background-color: #cfd2cd;
padding: 1em;
text-align: center;
}

.forecast {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 1em;
    
}


.forecast ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    
}


.forecast li {
    padding: 0;
   
   
}

.forecast img {
    width: 80px;
    padding: 4px;
      
}



main img {
    width: 100%;
}

figure{
    font-size: 15px;
    text-align: center;
}
