/* Tablet Views ******************************/
@media only screen and (min-width: 41.125em) {

    
    header {
            padding: 1.25em .75em;
            justify-content: left;
    }
    
    header img {
            width: 225px;
            padding: 1em 7em;
        
    }
      
    header button {
          display: none;
    }
    
    .navigation li:first-child {
        display: none;
    }
      
    .navigation {
         display: flex;
    }
      
    .navigation li {
       display: block;
       flex: 1 1 auto;
     }

     h1{
      font-size: 30px;
  }
      
    .navigation li a {
       text-align: center;
       border: none;
       border-right: 1px solid rgba(000, 000, 000, 0.1);
       font-size: 1em;
       padding: 1.2em 0;
        }
    
    .fooInf {
       display: grid;
       font-size: 16px;
       grid-template-columns: 1fr 1fr;
       grid-gap: .5em;
       margin-left: 1em;
       text-align: left;
    }
    
    .Map {
       display: block;
       grid-area: 1 / 1 / span 2 / span 1;
    }
    
    .Map img {
       display: block;
       margin: 1em auto;
       width: 350px;
    }
    
    .Social-Nav {
       margin-left: 1em;
       text-align: left;
    }
    
    .Social-Nav img {
        width: 45px;
    }
    
    .Contact-Information h4{
        font-weight: bold;
        font-size: 20px;
    }
    .pancake h2 {
        font-size: 1em;
      }
    
      .pancake p {
        font-size: 1em;
      }
      
      .activenow {
        border-radius: 0.5em;
    }
    
      .banner-GRANDE {
        position: relative;
        
      }

      .summary {
        position: absolute;
        top: 5em;
        left: 35em;
        width: 250px;
        padding: 1.5rem;
        box-shadow: 0 0 30px #676767; 
        margin: 1em 5em;
        padding: 1em;
        text-align: center;
        border-radius: 25px;
      }

      .Article-Title {
        padding: 0.5em 2em;
      }
    
      .Article-Title img {
        float: right;
        width: 400px;
        margin-left: 1em;
        margin-bottom: 1em;
      }
      .forecast li {
        padding: 2px;
       
      }
      .hero-image {
        position: relative;
    }
    .container-gallery{
      margin: 1rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr ;
  }
  
  picture img {
      width: 100%;
      transition: filter 0.85s;
  }
  
  figure {
      font-size: 20px;
  }

        
  .contenido section {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
        
  .contenido section:nth-child(odd) img{
      grid-column: 1;
  }

  .contenido section:nth-child(odd) #cont {
      grid-column: 2;
      grid-row: 1;
    }
    
    .cont p {
      line-height: 1px;
      }
      .container-numero{
        display:grid;
      }

     
      .gridforecast {
      display: flex;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      .upcoming {
        border-left: solid 1px #abcaca;
        margin: 2em 0;
    }
    }  